.root{
    -fx-background-color: linear-gradient(to bottom, #E3F2FD, #ffffff);
}

.title-bar{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0.2, 0,2);
}

.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 24 12 24;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 2, 2);
}

.button:hover{
    -fx-background-color: #0D47A1;
}

.button.exit {
    -fx-background-color: #C62828;
}

.button.exit:hover {
    -fx-background-color: #7f0000;
}

#subway{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.5, 2, 2);
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
}

.label.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #D32F2F;
    -fx-font-family: 'Segoe UI', sans-serif;
}

#clock-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5px 15px;
    -fx-background-radius: 10px;
}

.region {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

#ticker-container{
        -fx-background-color: #e8f5e9; /* light yellow */
        -fx-padding: 5px 10px;
        -fx-border-color: #43a047;
        -fx-border-width: 1px 0 1px 0;
        -fx-border-style: solid;
        -fx-alignment: center-left;
}

#ticker-label{
        -fx-font-size: 14px;
        -fx-text-fill: #1b5e20;
        -fx-font-weight: 600;
        -fx-padding: 4px;
        -fx-text-alignment: left;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 1, 1, 1, 1 );
        -fx-font-family: "Courier New", monospace;
}

#tip-label {
    -fx-font-size: 13px;
    -fx-text-fill: #444;
    -fx-padding: 10 0 10 0;
}

.root {
    -fx-background-color: #F1F8FF;
}
